@charset "utf-8";
body,ul,li,ol,h1,h2,h3,h4,p,th,td,dl,dd,form,fieldset,legend,label,input,textarea,select{margin:0;padding:0}
body{font:14px/1.7 Arial,"Microsoft YaHei",Tahoma,Verdana,Helvetica, sans-serif;	 color:#333; background: #fff;}
a{color:#333; text-decoration:none;  outline:none;  }
a:hover{color:#5aa4f5; }
li{list-style:none}
img{border:0;    vertical-align:top;	}
em{color:#d8800e;   }
i{color:#1480dc}
input{ font-family:Arial,"Microsoft YaHei"}
input:focus{border:1px solid #0e83e7;box-shadow: 0 0 5px #0e83e7;-webkit-box-shadow: 0 0 5px #0e83e7; color: #000;}
.clear{clear:both;}
table{border-collapse:collapse;border-spacing:0;  }

/*--------------------------详细内容-----------------------*/
.wskb_right{ width: 100%; padding: 2%; box-sizing: border-box;  overflow: hidden;}
.wskb_left{ width:140px; float: left; background: #cae8fd;}
.wskb_left h1{ line-height: 60px; text-align: center; font-weight: 400; font-size: 16px; color: #0d54ae;}
.wskb_left ul{ padding: 0px; margin: 0px;}
.wskb_left ul li { line-height: 22px;}
.wskb_left ul li a{ border-bottom: solid 1px #48a1ed; display:block; text-align: center; padding: 8px 0px; font-size: 16px; color: #0d54ae; transition: 0.7s;}
.wskb_left ul li a:hover{ background: #48a1ed; color: #fff; }
.wskb_left ul li.currtur{background: #48a1ed; color: #fff;}
.wskb_left ul li.currtur a{background: #48a1ed; color: #fff;}
.wskb_left1{ padding-left: 150px;}
.wskb_left1 table{ width: 100%;}
.wskb_left1 table th{ line-height:36px; background: #48a1ed; text-align: center; font-weight: 100; color: #fff; width: 14%;  font-size: 16px;}
.wskb_left1 table td{ border: solid 1px #ccc; text-align: center; width: 14%; position: relative;  height: 84px; font-size: 18px;}
.wskb_left1 table td span{ position: absolute; right:3px; top:0px; color: #0d54ae; line-height: 30px;}

.wskb_left1 table td a{ display: block; line-height: 84px; transition: 0.7s;}
.wskb_left1 table td a:hover{ background: #f5f5f5;}
.wskb_left1 table td.org a{ display: block; line-height: 84px; transition: 0.7s;}
.wskb_left1 table td.org a:hover{ background: #f5e6ce;}