<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>承德市排污权交易中心</title>
    <link href="css/basic.css" type="text/css" rel="stylesheet">
    <link href="css/main.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="top">
    <div class="logo">承德市排污权交易中心</div>
    <div class="top_right">
        <ul>
            <li>欢迎！xx工程股份有限公司</li>
            <li><a href="#">退出</a></li>
        </ul>
    </div>
</div>
<div class="left">
    <div class="left_wrap">
        <ul>
            <li class="nav_box">
                <div class="nav_title nav_title_a">
                    <h1 class="left_1">项目信息</h1>
                </div>
            </li>
            <li class="nav_box">
                <div class="nav_title">
                    <h1 class="left_2">转让协议记录</h1>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="center">
    <div class="right">
        <div class="right_nr">
            <div class="main_a p-r">
                <h1>项目信息</h1>
                <div class="p-a_bnt" style="">
                    <a href="#" class="bnt_1">添&nbsp;&nbsp;加</a>
                </div>
            </div>
            <div class="search_box main_a">
                <label class="right_b">
                    <span class="title">项目编号：</span>
                    <input type="text" class="w270" placeholder="请输入项目编号">
                </label>

                <label class="right_b">
                    <span class="title">项目名称：</span>
                    <input type="text" class="w270" placeholder="请输入项目名称">
                </label>

                <div class="bnt_1_box">
                    <a href="#" class="bnt_1">查&nbsp;&nbsp;询</a>
                </div>
            </div>

            <div class="table_s">
                <table align="center">
                    <thead>
                    <tr>
                        <th class="numericalOrder">序号<span class="caret-wrapper">
			<i class="ascending"></i>
			<i class="descending"></i>
		</span></th>
                        <th width="25%">项目编号</th>
                        <th width="45%">项目名称 </th>
                        <th>操作</th>
                    </tr>
                    </thead>

                    <tbody class="pag_1">
                    <tr>
                        <td>1</td>
                        <td>项目一</td>
                        <td>155555554444444</td>
                        <td><a href="404.html"  class="chakan">查看</a> <a href="#"   class="chakan"> 编辑</a>   <a href="#"  onclick="popUpClick('tc_1')"  class="chakan"> 删除</a> </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>项目一</td>
                        <td>621030001313245 </td>

                        <td><a href="500.html"  class="chakan">查看</a> <a href="#"  class="chakan"> 编辑</a>   <a href="#"  class="chakan"> 删除</a> </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>项目一</td>
                        <td>621030001313245 </td>
                        <td><a href="wldk.html"  class="chakan">查看</a> <a href="#"  class="chakan"> 编辑</a>   <a href="#"  class="chakan"> 删除</a> </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>项目一</td>
                        <td>621030001313245 </td>
                        <td><a href="#"  class="chakan">查看</a> <a href="#"  class="chakan"> 编辑</a>   <a href="#"  class="chakan"> 删除</a> </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>项目一</td>
                        <td>621030001313245 </td>
                        <td><a href="#"  class="chakan">查看</a> <a href="#"  class="chakan"> 编辑</a>   <a href="#"  class="chakan"> 删除</a> </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>项目一</td>
                        <td>621030001313245 </td>
                        <td><a href="#"  class="chakan">查看</a> <a href="#"  class="chakan"> 编辑</a>   <a href="#"  class="chakan"> 删除</a> </td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>项目一</td>
                        <td>621030001313245 </td>
                        <td><a href="#"  class="chakan">查看</a> <a href="#"  class="chakan"> 编辑</a>   <a href="#"  class="chakan"> 删除</a> </td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>项目一</td>
                        <td>621030001313245 </td>
                        <td><a href="#"  class="chakan">查看</a> <a href="#"  class="chakan"> 编辑</a>   <a href="#"  class="chakan"> 删除</a> </td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>项目一</td>
                        <td>621030001313245 </td>
                        <td><a href="#"  class="chakan">查看</a> <a href="#"  class="chakan"> 编辑</a>   <a href="#"  class="chakan"> 删除</a> </td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>项目一</td>
                        <td>621030001313245 </td>
                        <td><a href="#"  class="chakan">查看</a> <a href="#"  class="chakan"> 编辑</a>   <a href="#"  class="chakan"> 删除</a> </td>
                    </tr>

                    <tr>
                        <td>11</td>
                        <td>项目一</td>
                        <td>621030001313245 </td>
                        <td><a href="#"  class="chakan">查看</a> <a href="#"  class="chakan"> 编辑</a>   <a href="#"  class="chakan"> 删除</a> </td>
                    </tr>

                    <tr>
                        <td>12</td>
                        <td>项目一</td>
                        <td>621030001313245 </td>
                        <td><a href="#"  class="chakan">查看</a> <a href="#"  class="chakan"> 编辑</a>   <a href="#"  class="chakan"> 删除</a> </td>
                    </tr>

                    <tr>
                        <td>13</td>
                        <td>项目一</td>
                        <td>621030001313245 </td>
                        <td><a href="#"  class="chakan">查看</a> <a href="#"  class="chakan"> 编辑</a>   <a href="#"  class="chakan"> 删除</a> </td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <div class="pagination_box">
                <div class="fl pagesNumber">
                    <p>共<span>12345</span>条记录</p>
                </div>
                <div class="fr">
                    <ul class="pagination">
                        <li><a href="javascript:void(0)">&lt; </a></li>
                        <li class="active Number"><a href="javascript:void(0)">1</a></li>
                        <li class="Number"><a href="javascript:void(0)">2</a></li>
                        <li class="Number"><a href="javascript:void(0)">3</a></li>
                        <li class="Number"><a href="javascript:void(0)">4</a></li>
                        <li class="Number"><a href="javascript:void(0)">5</a></li>
                        <li><a href="javascript:void(0)">&gt;</a></li>
                        <li class="pagselect btn-group select_box">
                            <button class="dropdown-btn " style="">
                                <span class="select_name beyond_ellipsis">10条/页</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropup" style="">
                                <li>10条/页</li>
                                <li>15条/页</li>
                                <li>20条/页</li>
                                <li>25条/页</li>
                                <li>30条/页</li>
                            </ul>
                        </li>

                    </ul>
                    <div class="pagquick">
                        <span>跳至</span>
                        <div>
                            <input class="" type="text">
                        </div>
                        <span>页</span>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="foot">主办：承德市公共资源交易中心 <span style="padding-left:30px;"> 技术支持：北京筑龙信息技术有限公司</span></div>
</div>
<div class="popup hide" >
    <div class="popup_mian tc_1" >
        <div class="qd_wz"><i><img src="img/guanb.png"></i>确定删除记录吗？删除后将无法恢复!</div>
        <div class="anue_a"><a href="#" class="close_click">确 定</a><span> <a href="#">取消</a></span></div>
    </div>
    <div class="popup_mian tc_2" >
        <div class="qd_wz cgsc"><i><img src="img/zhengqi.png"></i>成功删除</div>
        <div class="qd_wz cgsc"><i><img src="img/guanb.png"></i>删除失败</div>
    </div>
</div>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript">
    //关闭弹窗 点击事件
    $(".close_click").click(function () {
        $(".popup").hide();
        $(this).parents(".popup_mian").hide();
    });
    function popUpClick(dome) {
        console.log(dome)
        $(".popup_mian").hide();
        $(".popup").show();
        $("."+dome).show();
    }
</script>
</body>
</html>