<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>承德市排污权交易中心</title>
    <link href="css/basic.css" type="text/css" rel="stylesheet">
    <link href="css/main.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="popup_mian tc_1" style="margin-top: -370px;">
    <div class="qd_wz"><i><img src="img/guanb.png"></i>确定删除记录吗？删除后将无法恢复!</div>
    <div class="anue_a"><a href="#" class="close_click">确 定</a><span> <a href="#">取消</a></span></div>
</div>
    <div class="popup_mian" style="margin-top: -200px;" >
        <div class="qd_wz cgsc"><i><img src="img/zhengqi.png"></i>成功删除</div>
    </div>

    <div class="popup_mian" style="margin-top: -80px;" >
    <div class="qd_wz cgsc"><i><img src="img/guanb.png"></i>删除失败</div>
    </div>

<div class="popup_mian" style="margin-top:80px;" >
    <div class="qd_wz"><i><img src="img/icon1.png"></i>确定下载文件吗？</div>
    <div class="anue_a"><a href="#" class="close_click">确 定</a><span> <a href="#">取消</a></span></div>
</div>
<div class="popup_mian" style="margin-top: 280px;" >
    <div class="qd_wz"><i><img src="img/icon2.png"></i>请填写11位的联系电话</div>
    <div class="anue_a"><a href="#" class="close_click">知道了</a></div>
</div>
</body>
</html>